<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PDF Template</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size: 16px;
        }
        h1 {
            color: #333;
            font-size: 50px;
            margin-bottom: 25px;
        }
        h2 {
            color: #333;
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    <h1>{site_title}</h1>

    <h2>Form Details</h2>
    {{all_fields}}
</body>
</html>